@import '~@angular/material/theming';


$mat-blue: (
  50: #e3f2fd,
  100: #bbdefb,
  200: #90caf9,
  300: #64b5f6,
  400: #42a5f5,
  500: #2196f3,
  600: #1e88e5,
  700: #1976d2,
  800: #1565c0,
  900: #0d47a1,
  A100: #448AFF,
  A200: #304FFE,
  A400: #2979ff,
  A700: #2962ff,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);

@mixin colors() {
  .color-gray {
    color: mat-color($mat-gray, 500);
  }

  .background-primary {
    background-color: mat-color($mat-blue-gray, 900);
  }

  .color-accent {
    color: mat-color($mat-blue, A200) !important;
  }

  .color-accent-light {
    color: mat-color($mat-blue, A100) !important;
  }
}

