<div class="bottom__container background-primary">
  <div class="bottom__button" [routerLink]="['/order/create']" routerLinkActive="color-accent">
    <mat-icon>local_grocery_store</mat-icon>
    <span class="mat-body">Заказать</span>
  </div>
  <div class="bottom__button"  [routerLink]="['/delivery/create']" routerLinkActive="color-accent">
    <mat-icon>directions_car</mat-icon>
    <span class="mat-body">Доставить</span>
  </div>
  <div class="bottom__button" [routerLink]="['/profile']" routerLinkActive="color-accent">
    <mat-icon>person</mat-icon>
    <span class="mat-body">Заказать</span>
  </div>
</div>
