Api info: {{ version$ | async | json }}

<header class="flex">
  <!-- <img
    alt="Nx logo"
    width="75"
    src="https://nx.dev/assets/images/nx-logo-white.svg"
  /> -->
  <h1>ТоварИщу</h1>
</header>
<main>
  <h2>Что вы хотите?</h2>
  <section>
    <div class="example-button-row">
      <a mat-raised-button routerLink="/delivery" color="primary" class="mr-2">Доставить</a>
      <a mat-raised-button routerLink="/request" color="accent">Заказать</a>
    </div>
  </section>
</main>

<router-outlet></router-outlet>
