<mat-card class="order-card">
  <mat-card-header>
    <mat-card-title class="order-card__title">

    </mat-card-title>
    <mat-card-subtitle>


    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="order-card__header">
      <span class="mat-h2">
      {{order.positions.length | i18nPlural
        : {
          zero: "",
          one: "# позиция",
          few: "# позиции",
          many: "# позиций",
          other: "# позиций"
        } }}
      </span>
      <span class="mat-h1">
      {{order.deliverymanBenefit | number }} ₽
      </span>
    </div>

    <div class="description mat-body  color-gray">
      <div class="description__item">
        <mat-icon class="gray">store</mat-icon> <span class="description__title">{{order?.shop?.name || 'Любой'}}</span>
      </div>
      <div class="description__item" *ngIf="order.deliveryTo">
        <mat-icon class="gray">place</mat-icon> <span class="description__title">{{order?.deliveryTo || ''}}</span>
      </div>
    </div>


  </mat-card-content>
  <mat-card-actions class="order-card__actions">
    <button mat-raised-button color="accent" [routerLink]="['../detail/' + order.id]">Подробности</button>
  </mat-card-actions>
</mat-card>
