<div class="container">
  <h1 class="mat-h1 header">Создание заказа</h1>
</div>
<form [formGroup]="formGroup">
  <mat-form-field>
    <mat-label>Место доставки</mat-label>
    <input matInput
           formControlName="deliveryTo"
           required>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Магаз</mat-label>
    <mat-select formControlName="shopId">
      <mat-option *ngFor="let item of shopList" [value]="item.id">
        {{ item.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <h2 class="mat-h2 header">Что доставить?</h2>
  <order-position-list-form formControlName="orderPositionList"></order-position-list-form>
  <br>
  <button mat-raised-button
          color="accent"
          (click)="handleCreateOrder()">Создать заказ</button>
</form>

