:host {
  padding: 16px;
  display: block;
}

.btn-add-position {
  position: absolute;
  right: 30px;
  top: 15px;
}

form {
  display: flex;
  flex-direction: column;
}

.appraisal-block {
  mat-divider {
    margin: 16px 0;
  }
}

.appraisal-item {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  position: relative;
  margin-bottom: 12px;
  &__dotted {
    border-bottom: 1px dashed #B0BEC5;
    flex-grow: 1;
    margin: 0 5px;
  }
  &__value {
    &.total {
      font-size: 20px;
      font-weight: bold;
    }
  }
}
