<div class="container">
  <h1 class="mat-h1 header">Создание заказа</h1>
</div>
<form [formGroup]="formGroup">
  <mat-form-field>
    <mat-label>Адрес доставки</mat-label>
    <input matInput
           formControlName="deliveryTo"
           required>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Магаз</mat-label>
    <mat-select formControlName="shopId">
      <mat-option *ngFor="let item of shopList" [value]="item.id">
        {{ item.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div>
    <order-position-list-form formControlName="orderPositionList"></order-position-list-form>
  </div>
  <div>
    <mat-form-field appearance="fill">
      <mat-label>ExpiredTime</mat-label>
      <mat-select formControlName="expiredTime">
        <mat-option *ngFor="let item of expiredTimeList" [value]="item.minutes">
          {{ item.title }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <button mat-raised-button
          color="accent"
          (click)="handleCreateOrder()">Создать</button>
</form>

