<form class="order-position__list">
  <button class="order-position__add-btn"
          mat-stroked-button
          color="accent"
          aria-label="Add position"
          (click)="add()">
    Добавить товар
  </button>
  <mat-card *ngFor="let item of items; let index = index"
       class="order-position__list-item"
        (click)="edit(item, index)">
    <div class="order-position__info">
      <mat-card-title>{{ item.title }}</mat-card-title>
      <mat-card-subtitle>до {{ item.maxCost }}</mat-card-subtitle>
    </div>
    <button mat-icon-button color="warn"
            aria-label="Clear"
            (click)="removeByIndex(index)">
      <mat-icon>cancel</mat-icon>
    </button>
  </mat-card>
</form>


