<div *ngIf="userService?.currentUser as user; else loaderTmpl" class="main-wrapper">
  <div class="content">
    <header>
      <h3>Профиль</h3>
      <section>
        <img alt="user avatar" class="mat-card-avatar" src="https://cdn.dev.meteora.pro/meteora-dev/Brl7bqld05E.png">
        <span class="mat-title">Анна Кирова</span>
        <span class="mat-body-1">студент 2-го курса ШЭН</span>
      </section>
    </header>
    <mat-divider></mat-divider>
    <section class="contacts">
      <div class="contact-info">
        <mat-icon>mail</mat-icon>
        <span class="mat-body-1">anyakirova@dvfu.ru</span>
      </div>
      <div class="contact-info">
        <mat-icon>send</mat-icon>
        <span class="mat-body-1">@anyakirova</span>
      </div>
    </section>
    <section>
      <span class="mat-subheader">Рейтинг</span>
      <div class="ratings">
        <rating [rating]="4.1"></rating>
        <rating [rating]="4.3"></rating>
      </div>
    </section>
    <p>вы отличный покупатель</p>
  </div>
</div>

<ng-template #loaderTmpl>
  <div class="spinner-wrapper">
    <div class="spinner-container">
      <mat-spinner diameter="30"></mat-spinner>
    </div>
  </div>
</ng-template>
