<mat-form-field appearance="outline">
  <mat-label>Наименование товара</mat-label>
  <input matInput
         required
         [(ngModel)]="orderPosition.title"
         [ngModelOptions]="{standalone: true}"
         #inputTitle>
</mat-form-field>
<mat-form-field appearance="outline">
  <mat-label>Максимальная цена</mat-label>
  <input matInput
         [(ngModel)]="orderPosition.maxCost"
         [ngModelOptions]="{standalone: true}"
         required
         type="number">
  <span matSuffix>₽</span>
</mat-form-field>
<div class="modal-action">
  <button mat-stroked-button
          color="accent"
          aria-label="Close"
          (click)="handleClose()">
    Назад
  </button>
  <button mat-raised-button
          color="accent"
          aria-label="Save"
          [disabled]="!orderPosition.title || !orderPosition.maxCost"
          (click)="handleSave()">
    Сохранить
  </button>
</div>
