.header {
  outline: none;
  cursor: pointer;
  max-height: 50px;
}


.bottom-navbar {
  width: 100%;
}

.mobile-offset {
  margin-bottom: 54px;
}

.wrapper {
  max-width: 450px;
  margin: auto;
}

.fixed-sidenav {
  ::ng-deep .mat-list-item-content {
    display: flex;
    justify-content: space-between;
    min-width: 175px;
  }
}
