<mat-card class="order-card mat-elevation-z5hh">
  <mat-card-header>
    <mat-card-title>

    </mat-card-title>
    <mat-card-subtitle>

    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="order-header">
      <div class="order-title">
        <div class="order-rating">
          <mat-icon aria-hidden="false" aria-label="Example home icon">star</mat-icon>
          <span class="mat-subheader">4.1</span>
        </div>
        <div class="order-owner-telegram">

        </div>
      </div>
      <div class="order-owner">
        <p class="mat-body-2">{{'Анна Кирова'}}</p>
      </div>
    </div>
    <div class="oder-details">
      <div><span class="mat-body-1">Магазин:</span><span class="mat-body-2">{{'Самбери'}}</span></div>
      <div><span class="mat-body-1">Место доставки:</span><span class="mat-body-2">{{'главный корпус'}}</span></div>
      <div><span class="mat-body-1">Вознагражение за доставку:</span><span class="mat-body-2">{{180}} ₽</span></div>
    </div>

    <div class="product-summary">
      <span class="mat-subheader">Позиции</span>
      <span class="product-count mat-subheader">4 товара</span>
    </div>

    <mat-list>
      <mat-list-item *ngFor="let item of [{ title: 'Колбаса копченая', maxCost: 200 }, { title: 'Клей ПВА', maxCost: 100}, { title: 'Яблочный сок Добрый 1 л', maxCost: 150}]">
        <div><span class="mat-body-1">{{item.title}}</span></div>
        <div><span class="mat-caption">до {{item.maxCost}} ₽</span></div>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-button>Назад</button>
    <button mat-button>Взять заказ в доставку</button>
  </mat-card-actions>
  <mat-card-actions align="end">
    <button mat-button>Назад</button>
    <button mat-button>Взять заказ в доставку</button>
  </mat-card-actions>
</mat-card>
