@import '~@angular/material/theming';
@import "./assets/scss/theming";


// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@include mat-core();

$style-cloud-primary: mat-palette($mat-blue-gray, 900);
$style-cloud-accent: mat-palette($mat-blue, A200, A100, A400);

$style-cloud-warn: mat-palette($mat-red);
$style-cloud-theme: mat-light-theme((
  color: (
    primary: $style-cloud-primary,
    accent: $style-cloud-accent,
    warn: $style-cloud-warn,
  )
));

@include angular-material-theme($style-cloud-theme);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// custom styles
@include main-theme();

